# Because multiple repos are needed to build,
# the docker build context is the mobiledgex root,
# which may include other repos that aren't needed
# (like abc-priv, secrets, grpc-gateway, golang-ssh, etc).
# Only edge-cloud, edge-cloud-infra, and edge-proto are needed.
*
!.git
!edge-cloud-platform
!edge-proto

# etcd data comes from unit tests
edge-cloud-platform/cmd/controller/etcdLocal_data

# postgres comes from unit tests
edge-cloud-platform/pkg/mc/orm/.postgres
edge-cloud-platform/build/qcow2
