*~
.vscode
*.kubeconfig
pkg/notify/*.notify.go
test/testutil/*_testutil.go
*.postgres
*__pycache__
link-gogo-protobuf
link-grpc-gateway
pkg/version/version.go
api/dme-proto/*.proto
pkg/cloudcommon/node/vault.log
pkg/cloudcommon/node/vault_pki
pkg/cloudcommon/node/roles.yaml
tools/edgeprotogen/edgeprotogen.proto
tools/edgeprotogen/edgeprotogen.pb.go
pkg/vault/vault.log
pkg/vault/vault_pki
pkg/vault/roles.yaml
cmd/crm/envoy
cmd/controller/envoy
cmd/controller/data_test.json
cmd/controller/etcdLocal_data/*
cmd/controller/influxdb.log
cmd/controller/influxq_client/.influxdb
cmd/controller/influxq_client/influxdb.log
cmd/controller/.influxdb/*
pkg/tls/out
pkg/cloudcommon/node/out

pkg/mc/orm/dump.sql
pkg/mc/orm/vault.log
pkg/mc/orm/vault_pki
pkg/mc/orm/roles.yaml
*.postgres*
ansible.auto.tfvars
.terraform.init.done
pkg/vault/letsencrypt-plugin/letsencrypt/version.go
/edgebox_bin

e2e-tests/chef/chef_guid
e2e-tests/chef/syntaxcache

# leftovers after regression tests
envoy/certs/envoyTlsCerts.key
envoy/certs/envoyTlsCerts.crt
plugin/platform/common/foo
deploy/ansible/mex_inventory
deploy/ansible/playbooks/setup.yml

# unit-test file
pkg/mc/orm/alertmgr/testAlertMgrConfig.yml
pkg/mc/orm/testAlertMgrConfig.yml

# terraform vars
*.auto.tfvars
*.auto.tfvars.json

# redis
dump.rdb
