*~
.vscode
*.kubeconfig
protoc-gen-cmd/protoc-gen-cmd
protoc-gen-gomex/protoc-gen-gomex
setup-env/ansible/playbooks/setup.yml
notify/*.notify.go
testutil/*_testutil.go
*.postgres
*__pycache__
link-gogo-protobuf
link-grpc-gateway
version/version.go
d-match-engine/dme-proto/*.proto
cloudcommon/node/vault.log
cloudcommon/node/vault_pki
cloudcommon/node/roles.yaml
edgeprotogen/edgeprotogen.proto
edgeprotogen/edgeprotogen.pb.go
vault/*.csr
vault/*.pem
vault/vault.log
vault/vault_pki
vault/roles.yaml
envoy/certs/envoyTlsCerts.key
envoy/certs/envoyTlsCerts.crt
controller/envoy/certs/envoyTlsCerts.crt
controller/data_test.json
controller/etcdLocal_data/*
controller/influxdb.log
controller/influxq_client/.influxdb
controller/influxq_client/influxdb.log
cloud-resource-manager/cmd/crmserver/envoy/*
controller/.influxdb/*
controller/envoy/*
dump.rdb
tls/out

openstack-tenant/agent/build
mc/mcctl/mcctl
mc/orm/dump.sql
mc/orm/*.csr
mc/orm/*.pem
mc/orm/vault.log
mc/orm/roles.yaml
*rbac.conf
mc/rbac.conf
*.postgres*
ansible.auto.tfvars
.terraform.init.done
vault/letsencrypt-plugin/letsencrypt/version.go
/edgebox_bin
mgmt/vault/root-ca/openssl.cnf
mgmt/vault/root-ca/intermediate/openssl.cnf
mgmt/vault/root-ca/*.old
mgmt/vault/root-ca/index.txt*
mgmt/vault/root-ca/serial
mgmt/vault/root-ca/intermediate/index.txt*
mgmt/vault/root-ca/intermediate/serial

ansible/mex_inventory
ansible/playbooks/setup.yml

e2e-tests/chef/chef_guid
e2e-tests/chef/syntaxcache

# leftovers after regression tests
envoy/certs/envoyTlsCerts.key
envoy/certs/envoyTlsCerts.crt
plugin/platform/common/foo

# unit-test file
mc/orm/alertmgr/testAlertMgrConfig.yml
mc/orm/testAlertMgrConfig.yml

# terraform vars
*.auto.tfvars
*.auto.tfvars.json

# redis
dump.rdb
