*~
\#*\#
.vscode
*.kubeconfig
*.postgres
*__pycache__
link-gogo-protobuf
link-grpc-gateway
pkg/version/version.yaml
api/distributed_match_engine/*.proto
tools/edgeprotogen/edgeprotogen.proto
pkg/vault/vault.log
pkg/vault/vault_pki
pkg/vault/roles.yaml
cmd/controller/data_test.json
cmd/controller/influxdb.log
cmd/controller/influxq_client/.influxdb
cmd/controller/influxq_client/influxdb.log
pkg/ccrm/ansible.tar.gz

# leftovers after regression tests
envoy/certs/envoyTlsCerts.key
envoy/certs/envoyTlsCerts.crt
plugin/platform/common/foo

# generated unit test files
pkg/proxy/test-envoy-config.yaml
pkg/proxy/test-envoy-sds.yaml
pkg/platform/common/vmlayer/TestSetupForwardingIptables.sh
pkg/platform/common/vmlayer/TestSetupIptablesRulesForRootLB.sh
